<a href="https://colab.research.google.com/github/julian-lh/THL-Abgaben/blob/master/4_PythonDsExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Science Exercise
Julian Lopes Hinz, SoSe 2023

## 1. Write a NumPy program to get the indices of the sorted elements of a given array.

In [144]:
import numpy as np

In [145]:
score = np.array([103, 1502, 6230, 3, 1682, 5241, 4532])
print(score)

[ 103 1502 6230    3 1682 5241 4532]

In [146]:
def get_sorted_idx(np_array):
  array_sorted = np_array.copy()
  array_sorted.sort()
  return np.array([np.where(np_array == nr)[0][0] for nr in array_sorted])

In [148]:
get_sorted_idx(score)

array([3, 0, 1, 4, 6, 5, 2])

Alternatively there is the function "argsort()"

In [149]:
np.argsort(score)

array([3, 0, 1, 4, 6, 5, 2])

# 2. Do the following exercise in a Jupyter Notebook

In [150]:
import pandas as pd

Load the countries.csv directly via URL import into your panda data frame!

In [173]:
url = 'https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/python-DS/country.csv'
df = pd.read_csv(url)
print(df)

        Name  Population     Area     GDP Currency
0    Germany    82521653   357385  3466.0      EUR
1      Japan   126045000   377835  4938.0      YEN
2     Canada    36503097  9984670  1529.0      CAD
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max) HINT: describe

In [174]:
df.describe()

         Population          Area          GDP
count  7.000000e+00  7.000000e+00     6.000000
mean   8.086839e+07  2.926464e+06  2387.500000
std    6.670195e+07  4.348507e+06  1532.497537
min    2.393827e+07  3.619700e+04   744.000000
25%    3.235604e+07  3.293615e+05  1596.250000
50%    6.050172e+07  3.778350e+05  1824.000000
75%    1.042833e+08  4.713910e+06  3062.000000
max    2.083600e+08  9.984670e+06  4938.000000

Show the last 4 rows of the data frame.

In [175]:
df.tail(4)

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

Show all the rows of countries that have the EURO

In [178]:
df[df['Currency'].str.contains('EUR')]

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
3    Italy    60501718  301338  1850.0      EUR

Show only name and Currency in a new data frame

In [179]:
df[['Name','Currency']]

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)

In [182]:
df[df['GDP'] > 2000]

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

Select all countries where with inhabitants between 50 and 150 Mio

In [191]:
df.query('Population > 5000000 and Population < 150000000')

        Name  Population     Area     GDP Currency
0    Germany    82521653   357385  3466.0      EUR
1      Japan   126045000   377835  4938.0      YEN
2     Canada    36503097  9984670  1529.0      CAD
3      Italy    60501718   301338  1850.0      EUR
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

Calculate the GDP average (ignore the missing value)

In [195]:
# median skipna defaults to True
df['GDP'].median()

1824.0

Calculate the GDP average (missing value treated as 0)

In [196]:
df['GDP'].fillna(0).median()

1798.0

Calculate the population density (population/area)  of all countries and add as new column

In [202]:
df['Population Density'] = df.Population/df.Area
df

        Name  Population     Area     GDP Currency  Population Density
0    Germany    82521653   357385  3466.0      EUR          230.904075
1      Japan   126045000   377835  4938.0      YEN          333.597999
2     Canada    36503097  9984670  1529.0      CAD            3.655914
3      Italy    60501718   301338  1850.0      EUR          200.776928
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

Sort by country name alphabetically

In [204]:
df.sort_values('Name')

        Name  Population     Area     GDP Currency  Population Density
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
2     Canada    36503097  9984670  1529.0      CAD            3.655914
0    Germany    82521653   357385  3466.0      EUR          230.904075
3      Italy    60501718   301338  1850.0      EUR          200.776928
1      Japan   126045000   377835  4938.0      YEN          333.597999
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [220]:
df2 = df.copy()
df2['Area'] = df2['Area'].apply(lambda x: 'BIG' if x > 1000000  else 'SMALL')
df2

        Name  Population   Area     GDP Currency  Population Density
0    Germany    82521653  SMALL  3466.0      EUR          230.904075
1      Japan   126045000  SMALL  4938.0      YEN          333.597999
2     Canada    36503097    BIG  1529.0      CAD            3.655914
3      Italy    60501718  SMALL  1850.0      EUR          200.776928
4   Brazilia   208360000    BIG  1798.0     REAL           24.467547
5     Taiwan    23938272  SMALL   744.0      NTD          661.333039
6  Venezuela    28208977  SMALL     NaN      VED           30.929200